<div class="table-responsive-md">
<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Color</th>
			<th scope="col" colspan="2">Bunned</th>
		</tr>
	</thead>
	<tbody>
		{{#each colors}}
		<tr>
			<th scope="row">{{id}}</th>
			<td style="color: {{color}}">{{color}}</td>
			<td>
				<button data-id="{{id}}" data-for="{{color}}" class="btn btn-outline-secondary btn-color-bun {{#unless bunned}}new{{/unless}}" type="button">
				{{#if bunned}}
				Re-Color
				{{else}}
				(New!) Color
				{{/if}}
				</button>
			</td>
			<td>
				<button data-id="{{id}}" class="btn btn-outline-danger btn-color-delete" type="button">Remove</button>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
</div>